@import '../../variables';

div.col {
    cursor: pointer;
    padding: 3px;

    .structure-block {
        padding:10px 15px;
        margin: 5px;
        background: $background;
        border-radius: 10px;
        transition:300ms;
    }

    .structure-block:hover {
        background:$backgroundHover;
    }

    .structure-block:focus {
        outline: 0;
    }

    .id {
        height:40px;
        color:#777;
    }
}

div.row {
    min-height: 1vh;
}
